* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background: url(glenn-carstens-peters-RLw-UC03Gwc-unsplash.jpg) no-repeat center center/cover;
}

.task-adder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 15px;
    width: 700px;
    height: 100px;
    border: 2px solid #802e08;
}

input {
    padding: 20px;
}

.text-box {
    width: 500px;
    height: 40px;
    border-radius: 15px;
    border: 2px solid #a16c54;
    background-color: white;
    font-size: 20px
}

.add-btn {
    width: 100px;
    height: 40px;
    border-radius: 15px;
    border: 2px solid #a16c54;
    background-color: white;
    font-size: 30px
}

.add-btn:hover {
    background-color: #f2eaae;
}
